<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="icon" type="image/png" href="icons/mithril-small.png">

    <title>0xMithril</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-cyan.min.css" />

    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router@2.0.0/dist/vue-router.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <script src="scripts/abi.js"></script>

    <style>
      :root {
        --main-bg-color: rgb(235, 235, 235);
        --primary-color: rgb(53, 89, 131);
        --accent-color: rgb(91, 230, 177);
      }
      .logo {
        position: absolute;
        right: 15%;
        top: 0px;
        z-index: 999;
      }
      .search-card {
        min-width: 450px;
      }
      .mdl-textfield {
        width: 100%;
      }
      .mdl-layout__header {
        background-color: var(--primary-color);
      }
      .mdl-layout__content {
        background-color: var(--main-bg-color);
      }
      .mdl-layout-title {
        color: var(--main-bg-color);
        padding-left: 15%;
      }
      .mdl-data-table {
          table-layout:fixed;
          width:100%; 
      }
      .mdl-cell {
        margin-right: 10px;
      }
      .mdl-dialog {
        width: 500px;
      }
      #my-table td, th {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
      }
      .demo-card-wide.mdl-card {
        float: left;
        margin: 0.5rem;
        position: relative;
      }
      
      .demo-card-wide > .mdl-card__title {
        color: #fff;
        background: rgb(140, 162, 187);
      }
      
      .demo-card-square > .mdl-card__accent {
        background: #ff9800;
      }

    </style>

    <script>
      
      //const provider = "https://mainnet.infura.io/oUCR2SmM4wLiHVimgqSS";
      const provider = "https://ropsten.infura.io/oUCR2SmM4wLiHVimgqSS";

      if (typeof web3 !== 'undefined') {
        web3 = new Web3(web3.currentProvider);
      } else {
        // set the provider you want from Web3.providers
        web3 = new Web3(new Web3.providers.HttpProvider(provider));
      }

      web3.eth.defaultAccount = web3.eth.accounts[0];
      let quarryContract = web3.eth.contract(abi).at('0x9e0744E8a207f6625b37C6F868B66AD3352eF6CF');
      console.log(quarryContract);

      $(document).ready(function() {

        // Vue.js
        const app = new Vue({
          el: '#content',
          data: {
            quarry: [{ name: "0xMithril", supply: "20M", diff: 123123 }],
            tokensDef: undefined,
            addr: '0xb7c8c16704e2d523990809e8de88995c3c88cbe1'
          },
          methods: {
            search: function() {
              let token = web3.eth.contract(abi).at(this.addr);
              token.name.call((err, tokenName) => {
                console.log(tokenName);
              });
            },
            init: function(arr) {
              let tokenDef = [];

              arr.forEach((addr) => {
                let token = web3.eth.contract(abi).at(addr);
                token.name.call((err, name) => {
                  token.decimals.call((err, decimals) => {
                    token.totalSupply.call((err, supply) => {
                      tokenDef.push({name, decimals, supply});
                    });
                  });
                });
                this.$nextTick(function () {
                  this.tokensDef = tokenDef;
                });
              });
            }
          },
          created: function() {
            let tokens = ['0xb7c8c16704e2d523990809e8de88995c3c88cbe1', '0xce95217762d88298d588b4169f0e764a7f7aae6b'];
            this.init(tokens);
          }
        });

        // MDL
        const dialog = document.querySelector('dialog');
        const dialogButton = document.querySelector('#show-dialog');
        
        if (! dialog.showModal) {
          dialogPolyfill.registerDialog(dialog);
        }

        dialogButton.addEventListener('click', function() {
          dialog.showModal();
          dialog.addEventListener('click', function (event) {
              const rect = dialog.getBoundingClientRect();
              const isInDialog=(rect.top <= event.clientY && event.clientY <= rect.top + rect.height
                && rect.left <= event.clientX && event.clientX <= rect.left + rect.width);
              if (!isInDialog) {
                  dialog.close();
              }
          });
        });
        
        dialog.querySelector('button:not([disabled])').addEventListener('click', function() {
          dialog.close();
        });

        dialog.querySelector('.close').addEventListener('click', function() {
          dialog.close();
        });

      });

    </script>
  </head>
  <body>
      
    <dialog class="mdl-dialog">
      <div class="mdl-dialog__content">
        <h3>Create Your Own Mineable Token</h3>
        <p>
          Fill out the following fields to create your own mineable token.
        </p>
        <!-- Textfield with Floating Label -->

        <form action="#">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="tokenAddress">
            <label class="mdl-textfield__label" for="tokenAddress">Token Address</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="tokenDescription">
            <label class="mdl-textfield__label" for="tokenDescription">Description</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="Decimal">
            <label class="mdl-textfield__label" for="Decimal">Decimal</label>
            <span class="mdl-textfield__error">Input is not a number!</span>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="initReward">
            <label class="mdl-textfield__label" for="initReward">Initial Reward</label>
            <span class="mdl-textfield__error">Input is not a number!</span>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="diffAdjustment">
            <label class="mdl-textfield__label" for="diffAdjustment">Blocks per Difficulty Adjustment</label>
            <span class="mdl-textfield__error">Input is not a number!</span>
          </div>
        </form>
      </div>
      <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button">Submit</button>
        <button type="button" class="mdl-button close">Cancel</button>
      </div>
    </dialog>

    <img class="logo" src="icons/mithril-small.png" />
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">0xMithril</span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens.
          <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="">Tokens</a>
            <a class="mdl-navigation__link" href=""></a>
          </nav>-->
        </div>
      </header>

      <!-- Main Conent -->
      <main id="content" class="mdl-layout__content">
        <div class="page-content">
          <div class="mdl-grid">
              <div class="mdl-layout-spacer"></div>
              <div class="mdl-cell mdl-cell--8-col">

                <div class="mdl-grid">
                    <!-- Cards -->
                    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                      <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Create Your Own Mineable Token</h2>
                      </div>
                      <div class="mdl-card__supporting-text" style="height:78px">
                        <p>By providing a few fields of information you could have your own mineable token.</p>
                      </div>
                      <div class="mdl-card__actions mdl-card--border">
                        <button id="show-dialog" type="button" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect show-modal">Get Started</button>
                      </div>
                    </div>

                    <!-- Cards -->
                    <div class="demo-card-wide mdl-card mdl-shadow--2dp search-card">
                      <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Search Token</h2>
                      </div>
                      <div class="mdl-card__supporting-text">
                        <p>Try looking up a contract address from ropsten.<p>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                          <input class="mdl-textfield__input" type="text" id="tokenAddress" v-model="addr">
                          <label class="mdl-textfield__label" for="tokenAddress">Token Address</label>
                        </div>
                      </div>
                      <div class="mdl-card__actions mdl-card--border">
                        <button type="button" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect show-modal" v-on:click="search()" >Search</button>
                      </div>
                    </div>
                  </div>

                <div class="mdl-grid">
                  <div class="mdl-cell mdl-cell--12-col">
                    <!-- Tokens Table -->
                    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp fullwidth">
                      <thead>
                        <tr>
                          <th class="mdl-data-table__cell--non-numeric fullwidth">Tokens</th>
                          <th>Supply</th>
                          <th>Difficulty</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="token in quarry">
                          <td class="mdl-data-table__cell--non-numeric">{{ token.name }}</td>
                          <td>{{ token.supply }}</td>
                          <td>{{ token.diff }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

                <div class="mdl-grid">
                  <!-- Cards -->
                  <div class="demo-card-wide mdl-card mdl-shadow--2dp" v-if="tokensDef" v-for="token in tokensDef">
                    <div class="mdl-card__title">
                      <h2 class="mdl-card__title-text">{{ token.name }}</h2>
                    </div>
                    <div class="mdl-card__supporting-text" style="height:78px">
                      Decimals: {{ token.decimals }}<br/>
                      Token Supply: {{ token.supply }}
                    </div>
                  </div>
                </div>

              </div>
              <div class="mdl-layout-spacer"></div>
          </div>
        </div>
        <!-- Footer -->
        <footer class="mdl-mini-footer">
            <div class="mdl-mini-footer__left-section">
              <div class="mdl-logo">0xMithril</div>
              <ul class="mdl-mini-footer__link-list">
                <li><a href="#">Help</a></li>
                <li><a href="#">Privacy & Terms</a></li>
              </ul>
            </div>
          </footer>
        </div>
      </main>
      
      
  </body>
</html>
