:root {
    --main-bg-color: rgb(235, 235, 235);
    --primary-color: rgb(53, 89, 131);
    --accent-color: rgb(91, 230, 177);
  }
  html, body {
    height: 100%;
    margin: 0;
  }
  #add_button {
      width: 64px;
      height: 64px;
      background-image: url('../icons/add (1).png');
      margin: 0px 10px 0 10px;
  }
  .mdl-textfield {
    width: 100%;
  }
  .mdl-layout__header {
    background-color: var(--primary-color);
  }
  .mdl-layout__content {
    background-color: var(--main-bg-color);
    height: 600px;
  }
  .page-content {
    min-height: 100%;

    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -100px;
  }
  .mdl-layout-title {
    color: var(--main-bg-color);
    padding-left: 15%;
  }
  .mdl-cell {
    margin-right: 10px;
  }
